DATABASE_URL=postgres://postgres:postgres@postgres:5432/erc20_indexer
SUBSTREAMS_ENDPOINT=https://mainnet.eth.streamingfast.io:443
SUBSTREAMS_API_TOKEN=scrap-for-free-here
ETH_RPC_URL=https://ethereum-rpc.publicnode.com
SPKG_PATH=/app/erc20.spkg
START_BLOCK=25884244
API_PORT=3000